@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    min-height: 100vh;
    background-color: #608c9f;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main container styles */
.mainContainer {
    margin: 25px;
    background-color: #091a1a;
    color: #fff;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000079;
}

/* btn-styles */
.btn-success{
    font-weight: 600;
}

/* Input styles */
input {
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

/* Card styles */
.card {
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
}

.card button {
    background: transparent;
    border: none;
    color: rgb(101, 101, 101);
}

/* List container styles */
.list-container>div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    margin: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    text-transform: capitalize;
    color: rgb(101, 101, 101);
    font-weight: 600;
}

/* Checked styles */
.checked {
    text-decoration: line-through;
    color: rgb(150, 150, 150);
    font-weight: 400;
}

/* Button container styles */
.btn-container {
    display: flex;
}

/* Media queries */
@media only screen and (max-width: 365px) {
    .reset-button {
        font-size: small;
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 385px) and (min-width: 365px) {
    .reset-button {
        padding: 10px 5px;
    }
}