  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #608c9f;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    margin: 25px;
    background-color:  #091a1a;
    color: #fff;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000079;
}

p{
    margin: 0;
}

.btn-danger {
    background-color: #d93b2b !important;
    color: #fff;
}

input {
    padding: 10px !important;
    background-color: rgb(240, 240, 240) !important;
}

.input-box{
    margin-bottom: 10px;
}

.card {
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
}

.card button {
    background: transparent;
    border: none;
    color: rgb(101, 101, 101);
}

.list-container>div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    margin: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    text-transform: capitalize;
    color: rgb(101, 101, 101);
}

.checked{
    text-decoration: line-through;
    color: rgb(150, 150, 150);
}

.btn-container{
    display: flex;
}

@media only screen and (max-width: 365px) {
    .reset-button{
        font-size: small;
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 385px) and (min-width: 365px) {
    .reset-button{

        padding: 10px 5px;
    }
}